* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*includes padding & margin in width and height*/
    font-family: sans-serif;
}

@font-face {
    font-family: PlayFairDisplay;
    src: url(PlayFairDisplay.ttf)
}

@font-face {
    font-family: Oswald;
    src: url(Oswald-Light.ttf)
}


/*NAVBAR*/
#main-header {
    box-shadow: 0vh 2vh 4vh rgba(0,0,0,0.2);
    position: sticky;
    width: 100%;
    top: 0px;

}

#navbar {
    margin: 0 0 0 0;
    width: 100vw;
    text-align: center;
}

.links{
    margin: 0;
    padding: 0rem;
    display: flex;
    justify-content: center;
    background-color: rgba(41, 41, 41);
}

#navbar li{    
    list-style: none;
    text-align: center;
}

#navbar li a{
    text-decoration: none; 
    color: rgb(240, 240, 240);
    padding: 1rem;
    display: inline-block;
}

.links p:hover{
    color:rgb(192, 192, 192);
}

.navbar-active {
    background-color: purple;
}

.toggle-button {
    display: none;
    margin: 13px 10px 0 0 ;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.newline {
    display: none;
    min-height: 50px;
    justify-content: flex-end;
    background-color: rgba(41, 41, 41);
}

.toggle-button2 {
    margin: 13px 10px 0 0 ;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.newline2 {
    display: none;
    min-height: 50px;
    justify-content: flex-end;
    background-color: rgba(41, 41, 41);
}


.bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.bar1{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.bar2{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

#container {
    color:#333333;
}

/* HOME */

#home {
    width: 100%;
    height: 90vh;
    display: flex;

    /*centers everything in section*/
    align-items: center;
    justify-content: center; 
    position: relative;
    overflow: hidden;
}

#home div{
    text-align: center;
    margin-bottom: 16vh;
}

#my-name{
    font-family: PlayFairDisplay;
    font-size: 4rem;
    padding: 15px;
    padding-bottom: 0;
    border-bottom: solid white;
    border-bottom-width: 2.5px;
}

.homeParPosition {
    top: 0;
    left: 0;

}

/* ABOUT */
#about {
    margin: 10vh 5vw;
    text-align: center;
}

.welcome {
    margin: 10vh 0 10vh 0;
    font-weight: lighter;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s all ease-in-out;
}

#intro-photo-me {
    width: 100%;
    margin: none;
}

#about-me-description{
    /*background-color: rgb(240, 240, 240);*/
    margin: 1vh 0vw;
    line-height: 1.75em;
    padding: 30px 40px; /*pixels??*/
    text-align: left;
    background-color: rgb(240, 240, 240);
}

.about-appear {
    opacity: 1;
    transform: translateY(0px);
}

.appearprev{
    opacity: 1;
}

/* PROJECTS */

#projects {
    margin: 2vh 0 5vh 0;
}

#projects article{
    padding: 0vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;;
}

.project-description{
    max-width: 1000px;
    line-height: 1.3;
    text-align: center;
    margin: 0 4vh;
    margin-bottom: 5vh;
}

.side-description {
    max-width: 400px;
    line-height: 1.3;
    margin-left: 20px;
}

.side-description2 {
    max-width: 400px;
    line-height: 1.3;
    margin-right: 20px;
}

.side-description3{
    max-width: 400px;
    line-height: 1.3;
    margin-left: 40px;
    align-self: center;
}

.horizontal {
    display: flex;
    justify-content: center;
}

#matlab-photos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video {
    height: 100%;
}

#matlab-photos p {
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 0;
    padding-bottom: -1px;
}

#rocking-horse {
    width: 50vw;
    max-width: 500px;
    height: 100%;
}

.video2 {
    width: 50vw;
    max-width: 500px;
}

.watershow-pic {
    width: 55vw;
    height: 100%;
    max-width: 650px;
}

.ws {
    background-color: rgb(240, 240, 240);
    padding: 25px 25px;
    display: flex;
    align-items: center;
}

.after{
    display: none;
}

/* PHOTOGRAPHY */

#photography {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin-bottom: 10vh;*/
}

.photography-description p{
    /*max-width: 1200px;*/
    text-align: center;
    line-height: 1.3;
    margin: 3vh 10vw 6vh 10vw;
    max-width: 1000px;
    
}

.photography-description2 p{
    /*max-width: 1200px;*/
    text-align: center;
    line-height: 1.3;
    margin: 8vh 10vw;
    max-width: 1000px;
}

.margin{
    margin-bottom: 0;
    padding-bottom: 0;
}

/* slideshow 1*/
.column1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 15px;
}

/* slideshow 2*/

.slideshow-container{
    background-color: rgba(26,26,26);
    width: 100vw;
    max-width: 1200px;
}

.slide {
    display: flex;
    color: #e4e4e4;
    justify-content: space-evenly;
}

.center-picture{
    display: flex;
    color: #e4e4e4;
    background-color: rgba(26,26,26);
    width: cover;
}

.slideshow-container a{
    vertical-align: center;
}

.column {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
    width: 100%;
}

.padright{
    padding-right: 2vw;
    padding-left: 1vw;
}

.padleft{
    padding-left: 2vw;
    padding-right: 1vw;
}

.display2{
    display: none;
}

.person {
    display: flex;
    flex-direction: column;
    padding: 12.5px;
    /*justify-content: center;*/
    background-color: rgb(19, 19, 19);
    
}

.pic{
    display: block;
    max-height: 500px;
    height: 70vh;
    object-fit: cover;
    max-width: 490px;
}

.prev, .next {
    opacity: 1;
    position: relative;
    cursor: pointer;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    justify-content: space-between;
    align-self: center;
}

.prev:hover, .next:hover {
    background-color: rgba(37, 37,37);
}

.counter {
    color: rgba(37, 37,37);
    position: absolute;
    padding: 10px 8px;
}

.date {
    font-style: italic;
    padding: 10px 0;
    font-size: 0.9rem;
}

.question {
    margin: 0 0;
    border-left: solid rgba(87, 190, 204);
    padding-left: 5px;
    font-size: 1.4rem;
    line-height: 1.3;
    font-weight: 30;
}

.question2 {
    margin: 0 0;
    border-left: solid rgb(194, 142, 82);
    padding-left: 5px;
    font-size: 1.4rem;
    line-height: 1.3;
    font-weight: 30;
}

.question3 {
    margin: 0 0;
    border-left: solid rgb(142, 96, 173);
    padding-left: 5px;
    font-size: 1.4rem;
    line-height: 1.3;
    font-weight: 30;
}


.fp-name {
    font-weight: 25;
    margin-top: 0px;
}

.town {
    font-style: italic; 
    color: gray; 
    margin-top: 5px;
}

.response {
    background-color: rgba(255,255,255,0.15);
    padding: 8px 10px;
    margin-top: 10px;
}

  /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

/* SKILLS */

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
    background-color: rgb(240, 240, 240);
    padding: 7vh 40px;
}

#skills h2 {
    margin-bottom: 1vh;
}

#skills div {
    display: flex;
    margin-bottom: 5vh;
}

#skills div ul {
    margin: 0 10vw;
    margin-top: 17px;
}

#skills div ul p{
    margin: 3px 0;
}


/* CONTACT */
#contact {
    background-color: rgba(26,26,26);
    padding: 30px 0px;
    color: rgb(206, 206, 206);  
    text-align: center;
}

#contact ul{
    margin: 10px 0px;
}

#contact ul li {
    /*display: inline-block;*/
    margin: 5px 10px;
}

#contact nav {
    margin: 10px  0;
}

.socials{
    margin: 0 25px;
}


/* ALL */

.text-wrapper {
    display: none;
    color: white;
    font-weight: 75;
    padding: 0 10px;
    font-size: 3rem;
    margin-left: 3vw;
    background-color: rgba(204, 159, 100, 0.603)
}

.parallax {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
}

.scroll{
    height: 50vh;
    display: flex;
    align-items: center;
}

#transition-projects-pic{
    background: url('IMG_1207.HEIC.jpeg') center no-repeat;
    background-size: 100%;
}

#transition-photography-pic{
    background: url('IMG_4039.JPG') center no-repeat;
    background-size: 100%;
}

.section-header {
    background-color: orange;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
    padding: 10px;
    padding-left: 40px;
    width: 250px;
}

.mini-section-header {
    font-family: Oswald;
    color: black;
    font-size: 2.2rem;
    font-weight: 25;
    text-align: center;
    margin: 5vh 0 3vh 0;
}

.video{
    width: 45vw;
    margin: 0 2vw 0 0;
    max-width: 520px;
}

.btn {
    text-align: center;
    vertical-align: center;
    cursor: pointer;
    background-color:rgba(87, 190, 204);
    margin: 10px auto;
    color:black;
    padding: 6px;
    border:  rgba(26,26,26);
    border-radius: 1px;
    text-decoration: none;    
    font-size: 1em;
    font-weight: lighter;
}

.btn:hover {
    background-color:rgb(96, 209, 224);
}

@media all and (max-width: 950px) {
    /*Slideshow 1 */
    .column1 {
        display: none;
        flex-direction: column;
        /*justify-content: center;*/
        width: 100%;
        padding: 15px;
    }
    /*Slideshow 2 */
    .slideshow-container{
        background-color: rgba(26,26,26);
        max-width: none;
    }
    
    .slide {
        display: flex;
        color: #e4e4e4;
    }

    .center-picture {
        color: #d6d5d5;
        background-color: none;
        display: flex;
        flex-direction: column; 
        align-items: center;
        max-width: none;
        width: cover;
    }

    .cc-picture {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .slideshow-container a{
        vertical-align: center;
    }
    
    .column {
        align-items: center;
    }
    .person {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100vw;
        padding: 25px 25px;
        background-color: rgb(19, 19, 19);
    }
    
    .fp-info{
        display: none;
        justify-content: space-around;
        font-size: 0.9rem;
        align-items: flex-end;
        font-style: italic;
    }
    
    .pic{
        height: 65vh;
        width: 100%;
        object-fit: cover;
        max-width: 490px;
        align-self: center;
    }
    
    .prev, .next {
        cursor: pointer;
        justify-content: center;
        width: auto;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        align-self: center;
    }
    
    .display{
        display: none;
    }

    .display2{
        display: block;
    }

    .prev:hover, .next:hover {
        background-color: rgba(37, 37,37);
    }
    
    .question {
        margin: 0px 0;
        border-left: solid rgba(87, 190, 204);
        padding-left: 5px;
        font-size: 1.4rem;
        line-height: 1.3;
        font-weight: 30;
    }

    .question2 {
        margin: 0px 0;
        border-left: solid rgb(194, 142, 82);
        padding-left: 5px;
        font-size: 1.4rem;
        line-height: 1.3;
        font-weight: 30;
    }

    .question3 {
        margin: 0px 0;
        border-left: solid #c02cdd;
        padding-left: 5px;
        font-size: 1.4rem;
        line-height: 1.3;
        font-weight: 30;
    }

    
    .fp-name {
        margin-top: 0px;
    }
    
    .town {
        font-style: italic; 
        color: gray; 
        margin-top: 5px;
    }
    
    .response {
        background-color: rgba(255,255,255,0.15);
        padding: 8px 10px;
        margin-top: 0px;
        margin-left: 20px;
        max-width: 60vw;
    }

    .date {
        display: none;
    }

    .prev, .next {
        position: absolute;
        cursor: pointer;
        width: auto;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        /*justify-content: space-between;
        align-self: center;*/
    }

    .prev {
        left: 0;
    }

    .next {
        right: 0;
    }

    .padleft{
        padding-left: 0;
        padding-right: 0;
    }

    .padright{
        padding-right: 0;
        padding: 15px;
        background-color: rgb(19, 19, 19);
    }
    
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

.SD-pic {
    width: 45vw;
    max-width: 500px;
}
  

  @media all and (max-width: 750px){
      .horizontal {
          flex-direction: column;
          align-items: center;
      }

      .video {
          width: 100%;
          padding: 0 5vw;
      }

      .SD-pic {
          width: 100vw;
          padding: 0 5vw;
      }

      #matlab-photos{
          margin-top: 4vh;
      }

      .video2 {
        width: 100%;
        margin-bottom: 3vh;
      }

      #rocking-horse{
          width: 100%;
      }
      
      .margin {
          margin-top: 3vh;
      }

      .watershow-pic {
          width: 100%;
      }

      .ws {
          width: 100%;
      }

      .side-description {
          margin-left: 0;
          max-width: 650px;
          padding: 2vh 3vw;
      }
      .side-description2 {
        margin-right: 0;
        max-width: 650px;
        padding: 2vh 3vw;
      }
      .side-description3 {
        margin-left: 0;
        max-width: 650px;
        padding: 2vh 3vw;
      }

      .video {
          margin: 0 0 0 0;
      }

      .before{
          display: none;
      }

      .after{
          display: block;
      }

  }

  @media all and (min-width: 450px) {
    .sub-section {
        margin: 10vh 0vw;
        display: flex;
        justify-content: center;
    }

    #intro-photo-me{
        width: 30vw;
        max-width: 400px;
        height: 100%;
        object-fit: cover;
    }

    #about-me-description{
        margin: 0 0 0 15px;
        max-width: 400px;
        display: flex;
        align-items: center;
        background-color: rgb(240, 240, 240);
    }
  }

  /* Parallax img size & toggle button*/
  @media all and (max-width: 1100px){
    
    #transition-projects-pic{
        background-size: 125%;
    }

    #transition-photography-pic{
        background-size: 125%;
    }
  }

  @media all and (max-width: 900px) {
    
    #transition-projects-pic{
        background-size: 150%;
    }

    #transition-photography-pic{
        background-size: 150%;
    }
  }

  @media all and (max-width: 700px) {
    
    #transition-projects-pic{
        background-size: 165%;
    }

    #transition-photography-pic{
        background-size: 165%;
    }
  }

  @media all and (max-width: 570px) {
    
    #transition-projects-pic{
        background-size: 190%;
    }

    #transition-photography-pic{
        background-size: 190%;
    }
  }

  @media all and (max-width: 475px) {
    
    #transition-projects-pic{
        background-size: 235%;
    }

    #transition-photography-pic{
        background-size: 235%;
    }
  }

  @media all and (max-width: 600px){
      .toggle-button{
          display: flex;
      }

      .toggle-button2{
        display: flex;
    }

      .newline {
          display: flex;
      }

      #main-header {
          display: block;
      }

      .links{
          display: none;
          flex-direction: column;
      }

      .links a {
          width: 100%;
      }

      .links-active{
          display: block;
      }

      .disappear {
          display: none;
      }

      .appear {
          display: flex;
      }

      #navbar span {
          display: block;
      }

      .links {
        background-color: rgba(41, 41, 41,0.9);
      }
  }